stages:
  - zadanie1
  - zadanie2

zadanie1:
  image: ubuntu:24.04
  stage: zadanie1
  script:
    - echo "Testowanie GitLab CI/CD"
    - ls -la
    - mkdir mojezadania
    - cd mojezadania
    - echo "Testujemy GitLab CI/CD" > mojplik.txt
    - cat mojplik.txt
  artifacts:
    paths:
      - mojezadania/

zadanie2:
  image: alpine
  stage: zadanie2
  script:
    - test -f mojezadania/mojplik.txt
    - grep "GitLab" mojezadania/mojplik.txt
